@model IEnumerable<ExpiryApp.Models.ExpiryTrack>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.DeviceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpiryTrackId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExpiryTrackId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExpiryTrackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
